body{
    margin: 0;
    color: white;    
}

.container{

}

.nav, .nav2{
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.nav2{
    padding: 15px 0px 18px 0px;

}

.logo{
    font-size: 1.5rem;
    padding-top: 10px;
}

#link a{ 
    color: white;
    text-decoration: none;
}

#link {
 display: flex;
 gap: 2vw;
 padding-top: 15px;
}

.bt1{color: rgb(86, 86, 86);
display:inline-flex ;
justify-content: center;
gap: 1.5vw;
background-color: white;
height:45px;
width: 5.5rem;
border-radius: 20px;;
}

.headerRight{
    display: flex;
    gap: 3vw;
}

.headerRight span{padding-top: 15px;}

.headerRight .bt1 i 
{padding-top: 15px;}

 /*menu below header*/
#menu{color: black;}

/*----------------------*/

.menu_div{background-color: black; padding-bottom: 20px;}

#menu
{   
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 60px;
    padding-bottom: 10px;
}

#menu .option{
    padding-top: 15px;
}

#menu .option :nth-child(2)
{color: rgb(150, 150, 150);}

#menu :nth-child(4)
{display: flex;
gap:15px

}

#menu .option #search{
    margin-left: 10px;
    background-color:#fd1943;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    
}

.fa-search{
    vertical-align: -18px;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-left: 15px;
}

.fa-airbnb{
    font-size: 2.5rem;
    vertical-align: -6px;
}

.fa-user{

}

.homeBgImg{
   background-color: black;
   height: 75vh; 
}

.bgImg1
{
    background-image: url('airbnbBack1.webp') ;
    background-size: cover;
    border-radius: 13px;
    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.bgHeading{
    font-size: 2.4em;
    margin-bottom: 30px;
}

.bgImgBtn{
    background-color: white;
    color: #66186c;
    height: 2em;
    width: 170px;
    text-align: center;
    font-weight:600;
    font-size: 1.5em;
    border-radius: 2.5em;
    margin-bottom: 30px;
    padding-top: 1rem;
}

.bgImgBtn span{color: #8e1496;}

.option,.bgImgBtn{cursor: pointer;}



/*---------------------*/

@media only screen and (max-width:645px){
  .menu_div{padding-top: 3vw;}
  .nav,.nav2,.option,.searchdiv{ display: none;}
    #menu .option #search{
        margin-left: 10px;
        background-color:white;
        width: 50px;
        height: 50px;
        color: #fd1943;
    }

    /*---header search s-phn*/

    .fa-search{
        vertical-align: -18px;
        font-size: 1.5rem;
        font-weight: lighter;
        padding-left: 15px;
    }
    .phnSearchText{
        padding-top: 12px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .bgHeading{
        font-size: 1.5rem;
        margin-right: 0px;
    }
    
    #menu :nth-child(4) {
        display: flex;
        gap: 0px;
    }

    .tripToHeader {
        font-size: 1.4rem;
        padding-left: 10px;
    }


}



@media screen and (max-width: 950px) AND (min-width: 646px)
{
    .nav{
        padding-top: 3vh;
    padding-bottom: 3vh;
    }

    #link a{/*padding-top: 6vh;
    font-size: 1.1em;*/
    display: none;
    }
    
    .phnSearchText{
        display: none;
    }

    #link2{
        display: flex;
        gap: 8vh;
    }

    #link2 a{
        text-decoration: none;
        color: white;        
   }

    .logo span {display: none;} 
}   


@media screen and (min-width: 951px)
{
    .nav2{display: none;}
    .phnSearchText{
        display: none;
    }
    #menu
{   
    margin-left: 20vw;
    margin-right: 20vw;
}
}


/*--tripBannerCard--*/



.tripTo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
    margin-top: 35px;
    flex-wrap: wrap;
}

#BannerCardImg{
    width: 310px;
    height: 175px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.placeDis{
    margin-top: -5px;
    background-color: #fd1943;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.desCardHead, .desCardDist{
    text-align: left;
    margin-top: 20px;
    font-size: 1.75rem;
    padding-left: 15px;
}

.desCardDist{
    font-size: 1rem;
    margin-top: 0;
    
}

.destiCard{
    margin-bottom: 20px;
}

.tripToHeader{
    font-weight: lighter;
    font-size: 1.75rem;
    color: black;
    margin-left: 1vw;}

.desColor1 {background-color: #D93B30; width: 310px;}
.desColor2 {background-color: #DE3151; width: 310px;}
.desColor3{background-color: #D93B30; width: 310px;}
.desColor4{background-color: #BC1A6E; width: 310px;}

/*-------experience---------*/
.experience{
    color: black;
    font-size: 1.8rem;
    font-weight:600;
    padding-left: 5vw;
}

.experCardDiv{
    display: flex;
    color: black;
    gap: 2vw;
    justify-content: center;
    flex-wrap: wrap;
}

.experCard1,.experCard2{
    height: 450px;
    width: 650px;
    border-radius: 10px;
    background-image: url("https://a0.muscache.com/im/pictures/35612883-8e4c-440a-a768-ca7f268bd294.jpg?im_w=720");    
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    font-size: 1.9rem;
    font-weight: 600;
    padding-top: 3vh;
}

.experCard2{
    background-image: url("https://a0.muscache.com/im/pictures/aec597d9-9c5c-4746-965c-d3e1643299f7.jpg?im_w=720");    
}

.experCardBtn{
    margin-top: 2.5vh;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    width:fit-content;
    padding:10px 15px 10px 15px;
    border-radius: 6px;
}

.questionDiv{
    margin-top: 8vh;
    background-image: url("https://a0.muscache.com/im/pictures/aa630fb7-eeb3-4fc1-aa69-456c0eb83d8b.jpg?im_w=1440");
    background-size: cover;
    height: 70vh;
    width: 100vw;
    margin-bottom: 8vh;
}
.queHead{
padding-top: 5vh;
padding-left: 5vw;
font-weight: bold;
font-size: 2.5rem;
}

.quebtn{
    margin-top: 12vh;
    margin-left: 10vh;
    color: black;
    background-color: white;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
}


/*--otherLinks--*/
.otherLinks{
    height: fit-content;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vw;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly; 
    gap: 10px;
    padding-bottom: 5vh;
    background-color: rgba(236, 236, 236, 0.666);
      
}

.linkBorder{    border-bottom: solid #00000061 1px;
    width: 90vw;
    margin-left: 5vw;}

.impLink{
    margin-top: 11px;
}

.otherLinks a{ 
    font-weight: lighter; 
    text-decoration: none; 
    color: rgba(46, 46, 46, 0.918);
}
/*--footer--*/

.footer{
color: black;
height: 20vh;
margin-top: 5vh;
display: flex;
flex-direction: column;
align-items: center;
}

.footer a{ 
text-decoration: none;
color: rgba(46, 46, 46, 0.918);
}

.iconDiv{display: flex;
flex-direction: row;
justify-content: space-between;
gap: 5vw;}

.cc{margin-top: 2.5vh;}

.privacyNmore a span{
    font-weight: 900;
    vertical-align: 4px;
 }